<h1>Restaurants#index</h1>
<div id="map" style="width: 100%; height: 400px"></div>
<% @restaurants.each do |restaurant| %>
  <h2>
    <%= restaurant.name %>
  </h2>
<% end %>
<script type="text/javascript" charset="utf-8">
    initiateMap = () => {
        getCookie('geocoderLocation').then(value => {
            const coordinates = JSON.parse(value);
            map = GMaps({
                div: '#map',
                zoom: 12,
                lat: coordinates.latitude,
                lng: coordinates.longitude
            });

            addCenterMarker(map);

            let restaurants = <%= raw @restaurants.to_json %>;
            addMarkers(restaurants);
        })

    }

    addCenterMarker = (map) => {
        //const restaurants = []
        map.addMarker({
            lat: map.getCenter().lat(),
            lng: map.getCenter().lng(),
            title: 'Your location',
            infoWindow: {
                content: '<h4>You are here</h4>'
            },
            icon: {
                scaledSize: new google.maps.Size(50, 50),
                url: 'https://furtaev.ru/preview/current_location_map_pointer_small.png'
            }

        });

    }

    addMarkers = (collection) => {
        collection.forEach(item => {
            map.addMarker({
                lat: item.latitude,
                lng: item.longitude,
                title: item.name,
                infoWindow: {
                    content: `<h4>${item.name}</h4>`
                },
                icon: {
                    scaledSize: new google.maps.Size(50, 50),
                    url: 'https://furtaev.ru/preview/restaurant_map_pointer_small.png'
                }
            });
        })
    }


</script>
